---
title: Test
---
{% include head.html %}

<body>	
	
	<header>
		<div class="container">
			{% include svg/avi.html %}
		</div>
	</header>
		
	<nav>
		<a href="https://www.behance.net/nroth10">Portfolio</a>
		<a href="mailto:nroth10@gmail.com">Contact</a>
	</nav>

	<!-- SOCIAL -->
	<div class="social">
		<!-- <a href="#"><span class="fa fa-facebook-square"></span></a> -->
		<!-- <a href="#"><span class="fa fa-tumblr"></span></a> -->
		<a href="http://instagram.com/tayox"><span class="fa fa-instagram"></span></a>
		<!-- <a href="#"><span class="fa fa-pinterest"></span></a> -->
		<a href="http://twitter.com/tayoxlife"><span class="fa fa-twitter"></span></a>
	</div>

</body>


</html>
