/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// do i need this?
html, body {
	height: 100%;
}

// full width images
img { max-width: 100%; }


// HELPERS
.hide { display: none!important }
