%container {
	display: block;
	padding: 0 1em;
	margin: 0 auto;
	@include transition(all .25s linear);

	@include bp(mama) {
		max-width: 50em; 	// 750 @ 768-1024
	}
	@include bp(papa) {
		max-width: 64em; 	// 960 @ 1024-1200
	}
	@include bp(grand) {
		max-width: 72em; 	// 1080 @ 1200+
	}
}

.container {
	@extend %container;
}

