//////////////////////////////////////////////////////////////////////
// SIZES
// sized in ems, which are multiples of 16
// move these to vars at some point
$baby: 		30em; // 480, phone cutoff
$mama: 		48em; // 768, tablet
$papa: 		64em; // 1024,
$grand: 	75em; // 1200,

// THE Break-Point Mixin
@mixin bp($point) {
  
	$bp-baby: 	"screen and (min-width: #{$baby}   )";	
	$bp-mama:		"screen and (min-width: #{$mama}   )";
	$bp-papa: 	"screen and (min-width: #{$papa}   )";
	$bp-grand: 	"screen and (min-width: #{$grand}  )";

	@if $point == grand {
		@media #{$bp-grand} { @content; }
	}
	@else if $point == papa {
		@media #{$bp-papa} { @content; }
	}
	@else if $point == mama {
		@media #{$bp-mama} { @content; }
	}
	@else if $point == baby {
	 	@media #{$bp-baby}  { @content; }
	}

}

// flat test colors
// move to vars
$test1: 		#1abc9c;
$test2:			#16a085;
$test3:			#2ecc71;
$test4:			#27ae60;

%size-testr {
	background: transparent;
	@include bp(baby)  { background-color: $test1; }
	@include bp(mama)  { background-color: $test2; }
	@include bp(papa)  { background-color: $test3; }
	@include bp(grand) { background-color: $test4; }
}

.size-testr {
	@extend %size-testr;
	display: block;
	@include size(100% 1em);
	@include position(fixed null 0 0 0);
}