//////////////////////////////////////////////////////////////////////
// SIZES
// sized in ems, which are multiples of 16
// move these to vars at some point

// THE Break-Point Mixin
@mixin bp($point) {
  
	$bp-baby: 	"screen and (min-width: #{$baby}   )";	
	$bp-mama:		"screen and (min-width: #{$mama}   )";
	$bp-papa: 	"screen and (min-width: #{$papa}   )";
	$bp-grand: 	"screen and (min-width: #{$grand}  )";

	@if $point == grand {
		@media #{$bp-grand} { @content; }
	}
	@else if $point == papa {
		@media #{$bp-papa} { @content; }
	}
	@else if $point == mama {
		@media #{$bp-mama} { @content; }
	}
	@else if $point == baby {
	 	@media #{$bp-baby}  { @content; }
	}

}

// Colored Size breaks
%size-testr {
	background: transparent;
	background: $box5;
	padding-left: 1rem;
	&::after {
		content: "default";
		font-family: "letter-gothic-std",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 10px;
		text-transform: uppercase;
	}
	
	// COLORS
	@include bp(baby)  { background-color: $box1; }
	@include bp(mama)  { background-color: $box2; }
	@include bp(papa)  { background-color: $box3; }
	@include bp(grand) { background-color: $box4; }
	
	// ADD TITLES
	@each $size in baby, mama, papa, grand {
	  @include bp( #{$size} ) {
			&::after { content: "#{$size}"; }
	  }	  
	}
}

.size-testr {
	@extend %size-testr;
	display: block;
	@include size(100% auto);
	@include position(fixed, null 0 0 0);
}