body {
	// margin: 1.2em 0;
	font-family: $font-stack;
	font-size: 1em;
	line-height: 1.6;
	color: $body-color;
}

a {
	color: $link-color;
	
	&:hover, &:focus {
		color: grey; // ?
	}	
}


h1 {
	margin: .67em 0;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

h2 {
	
}

h2, h3 {
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
  letter-spacing: .1em;	
}