
<!-- <div class="size-testr"></div> -->
<section class="fold" id="navbar">
	
	<a href="#" class="nav-toggle">
		<span>toggle</span>
	</a>

		


	<header>
		<a href="{{ site.baseurl }}" id="home">
			{% include svg/avi.html %}
		</a>
	</header>

	<nav class="">
	  
	  {% for item in site.data.settings.nav %}
	    <a href="{{ item.url }}">{{ item.name }}</a>
	  {% endfor %}
	    <a href="#" class="sfp-toggle">Storm Front</a>

		{% include social.html %}
	</nav>

	<!-- scroll more -->
	<!-- <a href="#hero" class="scroll-more"><i class="fa fa-angle-down"></i></a> -->
</section>