<div id="hero" class="">
	<img src="/assets/img/test.jpg" alt="My whole city dope">
	<h1>My Whole Town, They Fuck With Me</h1>
	<p>Put a bird on it trust fund craft beer tousled. Semiotics lo-fi umami meggings cray. Chillwave typewriter health goth stumptown pug yr, Pinterest pour-over. Shabby chic irony DIY, Banksy PBR pork belly bitters kale chips swag. Pork belly PBR lomo Truffaut, Odd Future scenester roof party cred. Craft beer mumblecore cronut hoodie, bespoke messenger bag slow-carb Odd Future taxidermy salvia PBR Bushwick umami fixie. 3 wolf moon kale chips Truffaut hashtag put a bird on it health goth.</p>
</div>