<section id="portfolio">
		
	<h1>Portfolio</h1>
	
	<div class="portfolio-block grid">
		<section class="project">
			<img src="http://placehold.it/400x300" alt="">
		</section>
		<section class="project">
			<img src="http://placehold.it/400x300" alt="">
		</section>
		<section class="project">
			<img src="http://placehold.it/400x300" alt="">
		</section>

		<section class="project">
			<img src="http://placehold.it/400x300" alt="">
		</section>
		<section class="project">
			<img src="http://placehold.it/400x300" alt="">
		</section>
		<section class="project">
			<img src="http://placehold.it/400x300" alt="">
		</section>
	</div>
	
</section>