<section id="resume" class="single-panel">
	<div class="container">
		<h3>Please hold, and someone will be here to assist you shortly</h3>

		<!-- {% include resume.md %} -->
		
		<!-- <h2 id="experience">Experience</h2>
		<p>Cray DIY brunch, normcore cliche slow-carb locavore dreamcatcher wolf before they sold out banjo seitan mumblecore. Helvetica heirloom Intelligentsia, squid next level typewriter occupy kogi bespoke irony Truffaut chambray tilde selvage. Put a bird on it photo booth cronut fashion axe, McSweeney&#8217;s raw denim Truffaut chillwave. Sustainable beard Pitchfork tousled. Thundercats occupy cronut, irony Intelligentsia tattooed salvia. Hella pug dreamcatcher Kickstarter, PBR&amp;B sartorial authentic. Readymade street art narwhal High Life Thundercats.  </p>

		<h2 id="skills">Skills</h2>
		<ul>
			<li>Communication</li>
			<li>Organization</li>
			<li>Learning</li>
			<li>Teaching</li>
			<li>Planning</li>
			<li>Visual Design</li>
			<li>UX Design</li>
			<li>Programming</li>
		</ul> -->

		<a href="#" class="resume-toggle"><i class="fa fa-close"></i></a>
		<!-- 
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam odio voluptatibus nulla eaque corporis, numquam recusandae asperiores, nesciunt fugiat commodi.</p>

		<ul class="li">lorem</ul>
		<ul class="li">doohicky</ul>
		<ul class="li">dzzy</ul>
		<ul class="li">funl</ul>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorum molestiae nihil doloremque pariatur velit fugiat facere ut. Placeat quod numquam temporibus reiciendis assumenda possimus, consectetur nihil molestiae cumque doloribus. Repudiandae corporis, id temporibus dolorum. Molestiae ea odit accusantium, similique!</p>
		-->
	</div>
</section>