<section class="container" id="sfp-cover-letter">

	{% for item in site.data.sfp.content %}
	<article class="content" id="article{{ item.id }}">
		
		<div class="content-img wow {{ item.animation }} {{item.extraClass }}" data-wow-duration="{{ site.data.sfp.wow.duration }}" data-wow-delay="{{ site.data.sfp.wow.delay }}" data-wow-offset="{{ site.data.sfp.wow.offset }}" data-wow-iteration="{{ site.data.sfp.wow.iteration }}">
			{% include {{ item.imgPath }} %}
		</div>
		<div class="content-text">
			{{ item.headline | markdownify }}
			{{ item.text | markdownify }}				
		</div>
		
	</article>
	{% endfor %}

</section>