<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{site.baseurl}}assets/js/wow.js"></script>
<script src="{{site.baseurl}}assets/js/sfp.js"></script>

<script>

wow = new WOW(
    {
      boxClass:     'wow',      // default
      animateClass: 'animated', // default
      offset:       0,          // default
      mobile:       true,       // default
      live:         true        // default
    }
  )

wow.init();

$(function() {
	sfpToggle();
	videoHandler();
	treadMill();
});

</script>
