// Header
@import "header";
// nav toggle thing
@import "navbar-toggle";

// HERO
@import "hero";
#hero {
	// margin-top: 200%;
}

// BLOG
@import "blog";
// PORTFOLIO
@import "portfolio";
// SOCIAL
@import "social";

/* 
This should get moved to a seperate page 
*/

// SFP
@import "sfp-index";

// Coming Soon
@import 'coming-soon';

// SKILLS

$grey-light: #D8D8D8;
$grey-med: #747474;
$grey-med: #747474;

.relative {
	position: relative;
}
.content__wrapper {
	width: 100%;
	max-width: 580px;
	max-width: 48em;
	padding: 1em 1em 10em;
	font-size: 16px;

	font-family: "letter-gothic-std",sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -1px;
	
	h1 {
		color: $grey-med;
		margin-bottom: 0;
		font-size: 1.85em;
		line-height: 1;
		text-align: left;
	}

	h2 {
		font-weight: 700;
		font-family: 'Karla';
		font-size: 1.125em;
		color: black;
		letter-spacing: 0;
	}
	
	p {
		font-size: .875em;
	}
	
	a.avi__wrapper {
		display: inline-block;
		position: relative;
		overflow: hidden;
	}

	svg.avi {
		@include size(3.5em 6.72em);
	}

	@include bp(mama) {
		margin-left: 6rem;
		margin: 2em auto;
		p { font-size: 1em; }
	}

}

a.btn__new {
	display: none;
}

// .skill__tag-header {
	// background-color: $box1;	
	// position: relative;	
	
	// h2 { position: relative;}

	.tags {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		color: $grey-light;
		
		span {
			padding-left: 1em;
			
			&:hover,
			&.active {
				color: $grey-med;
			}
		}
	}


// }


@for $i from 1 through 20 {
	.skill__level--#{$i}::before {
		background-color: pink;
		width: calc( #{$i} * 5% );
	}
}


.skill__container {
	// DEBUG
	// background-color: $box8;
	margin: 1rem 0;

	.skill {
		margin: 1rem 0;
		&:gt(4) {
			color: blue;
		}


	}

	
	// Bar
	.skill__bar {
		@include size(100% 4px);
		background-color: $grey-light;
		display: block;
		margin: 0 0 .5rem 0;
		
		&::before {
			content: "";
			background-color: $grey-med;
			@include size(0 100%);
			display: block;
			// content: attr(data-skill);
			// width: attr(data-skill);
		}
		
		// hacky width for 5% increments
		@for $i from 1 through 20 {
			&.skill__level--#{$i}::before {
				width: calc( #{$i} * 5% );
			}
		}
	}
	
	.skill--text {
		// line-height: 1;
		font-family: 'Inconsolata';
		font-weight: 400;
		
		// Letter Gothic
		font-family: "letter-gothic-std",sans-serif;
		font-style: normal;
		// font-weight: 700;
	}

	.skill__title {
		font-weight: 700;
		text-transform: uppercase;
	}
	.skill__details {
		// line-height: 2;
		white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	display: block;
  	width: auto;
  	@include transition(all .2s ease);
  	max-height: 0;

  	@include bp(mama) {
  		max-height: none;
  	}

  	.parent & {
  		color: blue;
  	}

  	&.showw {
  		max-height: 3rem;
  	}
	}

	@include bp(baby) {
		
		
		@include outer-container();

		.skill {

			@include span-columns(6);
			@include omega(2n)

		}
		
		// .skill__details.show {
		// 	white-space: initial;
		// 	color: blue;
		// }
	}	
}

// mobile show/hide
.skill.active {
	
	.skill__details {
		max-height: 3rem;
		@include transition(all 0.4s ease);	
	}
}

.client__list {
	list-style: none;	
	padding-left: 0;

	@include bp(mama) {
		
		
		@include outer-container();

		.client {

			@include span-columns(6);
			@include omega(2n)
		}
	}
}

p.faq {
	margin-top: 0;
}