nav {
	
	@extend %container;
	text-align: center;
	background-color: #fefefe;
	overflow: hidden;

	a {
		display: block;
		padding: 1em 0.5em;

		@include bp(baby) {
			display: inline-block;
		}
		
	}


	

	// }
}