//////////////////////////////////////////
// Hero


#sfp-hero {
	text-align: center;
	display: block;
	min-height: 100%;
	min-height: 100vh;
	padding: 5em 0 3em;
	position: relative;

	@include display(flex);
	@include flex-direction(column);
  @include justify-content(center);

  p { color: white; }
  h1 { color: $blue2; }
	a.treadmill {
		// font-weight: 300;
		@include transform( translatey(9%) );
		font-size: 3.5em;
		&:hover {
			@include transform( translatey(0%) );
		}
	}
}