---
---

/*
 *
 * Hyde Theme
 * 
 * Poole
 * Syntax
 * Hyde
 *
 */
@import "0-hyde/poole";
@import "0-hyde/syntax";
@import "0-hyde/hyde";

// Bourbon
@import "1-tools/bourbon/bourbon";

svg.avatar {
	@include size(auto);
	max-height: 11em;
}

iframe {
	max-width: 100%;
}

// div & .cp-embed-iframe {
// 	display: none;
// 	@media (min-width: 48em) {
// 		display: block;
// 	}
// }


ul { padding-left: 1em; }