---
---
/*
*        ___               ..        ____       ____    _______________
*       |   |             /	 \       \   \     /   /   |               |
*       |   |            /    \       \   \   /   /    |   \\    //    |
*  _____|   |_____      /      \     __\   \./   /__   |    \\  //     |
* |               |    /        \   |               |  |     †∆¥ø      |
* |_____     _____|   /          \  |_____     _____|  |     ~~~~      |
*       |   |        /            \       |   |        |    //  \\     |
*       |   |       /              \      |   |        |   //    \\    |
*       |___|      /________________\     |___|        |_______________|
* 	 	 
*  This site proudly brought to you by the mind of me.	 	 
* 	 	 
*/

$color1: #1abc9c;
$color2: #3498db;
$color3: #9b59b6;
$color4: #34495e;
$color5: #f1c40f;
$color6: #e67e22;
$color7: #e74c3c;
$color8: #bdc3c7;
$color9: #2ecc71;

// Tools
@import "1-tools/tools-index";
// Base
@import "2-base/base-index";
// Modules
@import "3-modules/modules-index";
// Page
// @import "4-page/page-index";


.debug {
	display: none!important;
}


h1 { color: $color1; }
h1 { color: red; }
h2 { color: $color2; }
h3 { color: $color3; }
h4 { color: $color4; }
h5 { color: $color5; }
h6 { color: $color6; }

