---
<!-- layout: hyde-page -->
title: Resume
permalink: resume
---

{% include head.html %}

<body>
<div class="size-testr debug"></div>	
<!-- inject stuff in here -->
<div class="content__wrapper">
	<a href='{{site.baseurl}}' class="avi__wrapper">{% include svg/avi.html %}</a>
	{% include job/resume/intro.html %}
	
	<!-- <div class="skill__tag-header"> -->
		<h2 class="relative">Skills
			<div class="tags">
			{% for tag in site.data.resume.skill-tags %}
				<span class="skill-tag skill__tag js-skill-{{tag}}">{{tag}}</span> 
			{% endfor %}
			</div>
		</h2>
	<!-- </div> -->

	<div class="skill__container">
		
		{% for skill in site.data.resume.skills %}
		<div class="skill js-skill-{{skill.tag}}">
			<span class="skill__title skill--text">{{skill.title}}</span>
			<span class="skill__bar skill__level--{{skill.hack}}"  data-skill="{{skill.level}}"></span>			
			<span class="skill__details skill--text">{{skill.details}}</span>
		</div>
		{% endfor %}
		<a href="#" class="btn__new js-showSkills">Show More Skills</a>

	</div>

	<h2>Clients</h2>
	<ul class="client__list">
	{% for client in site.data.resume.clients %}
		<li class="client">{{client}}</li>
	{% endfor %}
	</ul>

	<h2>FAQ</h2>
	{% for q in site.data.resume.faq %}
		<strong>{{q.question}}</strong>
		<p class="faq">{{q.answer}}</p>
	{% endfor %}

	{% for l in site.data.settings.channels %}
	<a href="{{l.link}}">{{l.label}}</a>
	{% endfor %}



</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
	$('.skill').click( function(e) {
		// remove current active class
		$('.skill').removeClass('active');		
		// activate new skill
		// var skillDetail = $(this).children('.skill__details');
		// skillDetail.toggleClass('show');
		$(this).addClass('active');
	});

	var skillsCollection = document.getElementsByClassName('skill');
	var skills = [].slice.call(skillsCollection);
	
	console.log(skills);
	var test = skills.filter(function(skill) {
		return skill
	});
	console.log(test);

	// var array = ['ross', 'wale', 'omarion', 'gunplay', 'meek', 'stalley'];

	
</script>
{% include ga.html %}
</body>
</html>

