// might not ever need this ever
.letter-wrap {
	width: 100%;
	position: relative;
	max-width: 750px;
	margin: 0 auto;	
	padding: 1em;
	// outline: 1px solid red;
	
	text-align: center;
	font-size: 0.8em;

	img.polo {
		max-width: 100%;
		// max-height: 100px;
		margin: 0 auto;
		border-radius: 0;
		// @include position(fixed, 0);
	}

	.letter {
		
		font-family: "ff-providence-sans-web-pro", monospace;
		font-style: normal;
		font-weight: 400;
		
		// outline: 1px solid pink;
	}

	@media (min-width: 48em) {
		margin: 1em 0 3em 3em;
		text-align: left;
		font-size: 1em;

		img.polo {
			margin-left: 0;
		}
	}
}